.chats{    
  display: flex;
  height: 29em;
  padding: 0.5em;
}
  
.chatsArea{
  width: 90%;
  overflow: auto;
  display: flex;
  justify-content: center;
}

.search{
  width: 10%;
  padding: 0 0.5em 0 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search textarea{
  height: 30em;
  margin-bottom: 1em;
}

.search button{
  font-family: 'PT Sans', sans-serif;
  /* regular 400, regular 400 italic, bold 700, bold 700 italic */
  font-weight: 700;  
  font-size: 1.3em;
  letter-spacing: 0.05em;
  height: 1.6em;
  /* width: 4em; */
  align-self: center;
  cursor: pointer;
  background-color: rgb(200, 200, 200);
  border: none;
  margin-top: 0.5em;  
  margin-bottom: 0.5em;
  margin-right: center;
}

.search button:hover{
  color: rgb(38, 153, 206);
  background-color: rgb(210,210,210);
  box-shadow: 0.04em 0.04em 0.06em rgb(102, 86, 86);
}
  
.chatRoom .input{
    height: 6.5em;
    padding: 1em 0.5em 0.5em 0.5em;
    border-top: solid #a3a3a373;
}
  
.chatRoom .input textarea{
  width: 99%;
  height: 6.5em;
}

.chatRoom .buttons{
  display: grid;
  height: 3em;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 0.5em;
  justify-items: center;
  /* border: solid; */
}
  
.chatRoom .buttons button{
  font-family: 'PT Sans', sans-serif;
  /* regular 400, regular 400 italic, bold 700, bold 700 italic */
  font-weight: 700;  
  font-size: 1.5em;
  letter-spacing: 0.1em;
  height: 1.6em;
  width: 10em;
  cursor: pointer;
  background-color: rgb(200, 200, 200);
  border: none;
  margin-top: auto;
  /* margin: 0.5em; */
}
  
.chatRoom .buttons button:enabled:hover{
  color: rgb(38, 153, 206);
  background-color: rgb(210,210,210);
  box-shadow: 0.04em 0.04em 0.06em rgb(102, 86, 86);
}
  
